 <style>

        .green-table {
            background-color: rgb(92, 194, 168);
            color: #fff;
        }

        .footer {
            background-color: #ddd;
            text-align: center;
        }

        .text-left {
            text-align: left;
            text-decoration: underline;
        }

        a {
            text-decoration: none;
            color: #000;
        }

        footer {
            display: flex;
            height: 100px;
            background: #ddd;
            margin: auto;

        }

        footer > div {
            margin: auto;
        }
        .nav-name  {
        display: inline-block;
            cursor:pointer;
        }

        .nav-name > h1 {
            display: inline;
            color:#ddd;
            cursor:pointer;
            color:#555;
        }
        .navbar-brand{
            display: none;
        }
 
        @media(max-width:767px){
        .nav-name{
            display: none;
        }
        .navbar-brand{
            display: block;
        }
    }
        
    </style>