 <style>


        .footer {
            background-color: #ddd;
            text-align: center;
        }

        .text-left {
            text-align: left;
            text-decoration: none;
        }

        a {
            text-decoration: none;
            color: #000;
        }

        footer {
            display: flex;
            height: 100px;
            background: #ddd;
            margin: auto;

        }

        footer > div {
            margin: auto;
        }


        @media(max-width:767px){
        .nav-name{
            display: none;
        }

    }



    </style>